.text-list h4{
    padding-top: 5%;
    padding-left: 5%;
    font-weight: 510;
}

.card-homepage {
    display: flex;
    /* justify-content: space-between; */
    margin: 2% 20%;
    text-decoration: none;
}

/* Responsive Tablet */
@media (max-width: 768px) {
    .card-homepage {
        display: block;
        justify-content: center;
        
    }
}