@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;

}

.nav-homepage {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /* padding: 2px; */
}

/* Sidebar */
.toggle-navbar {
    margin-left: 2%;
    list-style: none;
}
.toggle-navbar button{
    border: none;
    background: none;
}
.toggle-navbar li {
    cursor: pointer;
}

.btn-close {
    margin-left: 80%;
}
.offcanvas.offcanvas-start {
    width: 20%;
}
.offcanvas-start button {
    font-size: 20px;
    font-weight: 600;
}
.offcanvas-header {
    justify-content: center;
}
.offcanvas-header img {
    width: 50%;
}
.offcanvas-body {
    text-align: center;
    margin-top: -8%;

}
.btn-logout, i {
    text-decoration: none;
    color: black;
    margin-left: 15%;
    font-weight: 600;
}
.sidebar-name {
    font-weight: 600;
    font-size: 20px;
}
.menu-sidebar div {
    margin: 10% 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

/* Navbar */
.dropdown-wrapper {
    display: flex;
}
.dropdown-right {
    padding: 0 40px;
}
#dropdown-basic-button {
    background-color: white;
    color: black;
    border-color: transparent;
    font-weight: 600;
}

.logo-wrapper {
    display: flex;
    margin-right: 2%;
}

.text-logo {
    font-weight: 600;
    padding-top: 10%;
    padding-left: 2px;
    font-size: 20px;
    font-weight: 600;
}

.logo-wrapper img {
    width: 40px;
    height: 40px;
}

.search-bar {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 20px;
    text-align: center;
}

.search-logo {
    position: absolute;
    top: 37.5%;
    left: 63%;
}

@media (max-width: 768px) {
    .sidebar-name{
        font-size: 15px;
    }
    .btn-logout i, p {
        font-size: 15px;
        margin-left: 5%;
    }
    .menu-sidebar {
        font-size: 15px;
    }
}